@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    background-image: linear-gradient(240deg, #4B4376, #1A1A1D);
}

body {
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-areas: "nav main";
    grid-template-rows: 100vh 1fr;
    grid-template-columns: 1fr 5fr;
}

.nav {
    grid-area: nav;
    display: inline-grid;
    justify-items: center;
    align-content: center;
    border-right: 1px solid #373036;
    margin-bottom: 350px;
}

.nav-ul {
    padding: 0;
    margin: 0;
}

.nav-li{
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 3.7rem;
    font-weight: 700;
}

a,
a:link {
    color: #E4B1F0;
}

a:visited {
    color: #a269af;
}
a:hover {
    color: white;
}

a:active {
    color: #eae2b7;
}

.active {
    color: #B692C2 !important;
    text-decoration: underline !important;
}

.main {
    grid-area: main;
}

.index-screen {
    display: inline-grid;
    width: 100%;
    height: 100vh;
    justify-items: center;
    align-content: center;
    grid-template-areas:
        'greetings'
        'summary';
    color: gainsboro;
}

.greetings {
    grid-area: greetings;
}

#greetingText {
    font-size: 8rem;
    margin-top: 0px;
}

.summary {
    grid-area: summary;
}

.text {
    padding: 0% 5%;
    max-width: 60ch;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: justify;
}

.portfolio-screen {
    display: inline-grid;
    justify-items: center;
    width: 100%;
    height: 100vh;
    grid-template-areas:
        'portfolio-header'
        'portfolio-content';
    color: gainsboro;
    grid-template-rows: 1fr 9fr;

}

.portfolio-header {
    grid-area: portfolio-header;
}

.portfolio-header-text {
    font-size: 3rem;
}

.portfolio-content {
    display: inline-grid;
    grid-area: portfolio-content;
    justify-items: center;
}

.image {
    width: 360px;
    height: 210px;
    place-self: center;
    object-fit: cover;
}

.side-by-side {
    display: grid;
    grid-template-areas: "left-side right-side";
    margin-bottom: 15px;
    align-content: center;
}

.left-side {
    grid-area: left-side;
}

.right-side {
    grid-area: right-side;
}

.min-sixty {
    min-width: 60ch;
    max-width: 60ch;
}

.resume-screen {
    display: inline-grid;
    justify-items: center;
    width: 100%;
    height: 100vh;
    grid-template-areas:
        'resume-header'
        'resume-content';
    color: gainsboro;
    grid-template-rows: 1fr 9fr;

}

.resume-header {
    grid-area: resume-header;
}

.resume-header-text {
    font-size: 3rem;
}

.resume-content {
    display: inline-grid;
    grid-area: resume-content;
    justify-items: left;
    margin: 0px 40px;
}

.education-card {
    margin-left: 20px;
}

.ulheader {
    text-decoration: none;
    font-size: 3.7rem;
    font-weight: 700;
    color: #bde0fe !important; 
    padding-bottom: 160px;
}